.card {
  margin: 0;
  padding: 0;
  width: 540px;
}

.card__title {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card__list-item {
  display: flex;
  white-space: nowrap;
  padding: 0;
  margin-bottom: 16px;
  font-family: "Noto serif", "Times New Roman", serif;
  justify-content: space-between;
}

.card__list-divider {
  flex: 1;
  border-bottom: 1px solid #000;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}
