.reservation {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 80px auto 120px;
  max-width: 385px;
}
